/* CONCURSO*/
html, body{
    background-image: linear-gradient(pink, purple);
    margin: 0%;
}
.rectangulo{
    background-color: lightgoldenrodyellow;
    width: 600px;
    height: 98vh;
    display: block;
    margin: 0% auto;
    
}
h1{
    font-size: 24px;
    margin-left: 13%;
}

input{
    margin-left: 28%;
    margin-right: 28%;
    width: 230px;
    height: 30px;;
    margin-top: 30%;
}
.iconobrindis img{
    width: 15%;
    margin-left: 40%;
    margin-top: 5%;
}